
@media screen and (min-width : 750px) 
and (max-width : 1024px)  {
    .layout-positioner {
        width:768px;
    }
    
    .content {
        max-width:768px;
    }
    
    .content .rate {
        width:200px;
        height:300px;
        display:inline-block;
        margin-left:0px;
        white-space:nowrap;
    }
    
    .content .rate span {
        font-weight:600;
        font-size:23px;
        float:left;
        margin-left:30px;
    }
    
    .content .name {
        margin-right:200px;
        width:150px;
        height:220px;
        display:inline-block;
        float:right;
    }
    
    .content .name span {
        font-weight:600;
    }
    
    .content .telephone-form textarea {
        margin: auto;
        align-content: center;
        max-width:none;
        width:95%;
        display:block;
    }
    
    .content .telephone-form b {
        display:none;
    }
    
    .content .telephone-form .device-version {
        display:inline;
            position:relative;
        }
    
    .content .email-form {
        margin:auto;
    }
    
    .content .email-form textarea {
        margin: auto;
        align-content: center;
        max-width:none;
        width:95%;
        display:block;
    }
    
    content .email-form {
    }
    
    .content .email-form img {
        bottom:42px;
        left:343px;
    position:relative;
    background-color:#e6e6e6;
    padding:15px;
    }
    
    .content .telephone-form img {
        bottom:48px;
        left:343px;
    position:relative;
    background-color:#e6e6e6;
    padding:15px;
    }
    
    input[type="submit"] {
    margin-top:50px;
    margin-right:53px;
    background-color:#81b3d2;
    display:block;
    width:320px;
    height:55px;
    font-family: "PT Sans";
    font-size:24px;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    color:white;
    border:0px;
    margin-left:-362px
}
    
    .footer .text-1 {
    font-size:23px;
    font-weight:700;
    float:left;
    margin-top:77px;
    margin-bottom:50px;
    margin-left:20px;
}
    
    .footer .text-2 {
    float:right;
    font-size:17px;
    font-weight:500;
    margin-top:80px;
    margin-bottom:50px;
    margin-right:54px;
}
    
    .content .text-3 {
        width:180px;
        height:20px;
    display:block;
    margin-top:-30px;
    margin-right:17px;
}
    
    .footer .icon-1 {
    display:inline-block;
    background-color:#81b3d2;
    padding:15px;
}

.footer .icon-2 {
    display:inline-block;
    background-color:#81b3d2;
    padding:15px;
    padding-top:13px;
    padding-left:20px;
    padding-right:20px;
}

.footer .icon-3 {
    display:inline-block;
    background-color:#81b3d2;
    padding:15px;
}
    
    .footer .icon-4 {
    display:inline-block;
    position:relative;
    left:350px;
    bottom: 55px;
}
    .content .emotions textarea {
        width:698px;
    }
    
    .content {
        width:100%;
        margin:0 auto;
    }
    
    img {
        max-width:100%;
        height:auto;
    }
    
    .logo-mobile {
        display:none;
    }
    
    .logo {
        height:100px;
        width:200px;
        background-repeat:no-repeat;
        background-position:center;
        top:-62px;
        left:290px;
    }
    
    .sedona-image {
        margin-top:-113px;
        
    }
    
    .menu .main {
        font-size:14px;
    float:left;
    margin-left:50px;
}

.menu .media {
    font-size:14px;
    margin-left:80px;
    float:left;
}

.menu .academy {
    font-size:14px;
    float:right;
    margin-right:30px;
}

.menu.reply {
    font-size:14px;
    margin-right:40px;
    float:right;
}
    
    .checkbox1 {
        position:relative;
        left:40px;
        display:inline-block;
}

.checkbox2 {
    position:relative;
    left:90px;
    display:inline-block;
}

.checkbox3 {
    position:relative;
    left:-105px;
    top:44px;
    display:block;
}
    
 .checkbox4 {
     position:relative;
        display:inline-block;
     left:180px;
     top:-20px
    }

    
    html {
        width:100%;
    }
    
    #modal_form #text-b {
    display:inline-block;
    position:fixed;
    left:30%;
    top: 45%;
    margin-top: -98px;
    margin-left:-145px;
    width:658px;
    height:110px;
    background-color:#ffffff;
    padding-top:30px;
    font-size:30px;
}

#modal_form #text {
    position:fixed;
    margin-top: 0px;
    margin-left:-145px;
    left:30%;
    top:45%;
    width:658px;
    background-color:#ffffff;
    font-size:14px;
    display:inline-block;
    padding-bottom:40px;
}

#modal_form {
	width: 640px; 
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #f3f3f3;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 30%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
    padding-top:15px;
    vertical-align:center;
    color:white;
    font-size: 25px;
    font-weight:600;
    text-align:center;
    background-color:#81b3d2;
	width: 450px;
	height: 45px;
	position: absolute;
	top: 240px;
	right: 100px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

}