@media only screen 
and (min-width : 320px) 
    and (max-width : 749px) {
        .layout-positioner {
            width:320px;
        }
        
        input[type="text"] {
            font-weight:600;
            font-size:16px;
            Padding-left:10px;
        }
        
        .content {
            width:320px;
        }
        
        .content .rate {
            position:relative;
            top:600px;
        width:320px;
        height:300px;
        display:flex;
        margin:auto;
        white-space:nowrap;
            border-bottom:1px solid #f2f2f2;
    }
    
    .content .rate span {
        position:relative;
        left:0px;
        font-weight:600;
        font-size:22px;
    }
        
        .content .contacts .contact-info-text {
            font-size:22px;
            margin-bottom:-28px
        }
    
    .content .name {
        position:relative;
        border-bottom:1px solid #f2f2f2;
        top:-360px;
        display:flex;
        margin:auto;
        margin-bottom:10px
        -web-kit-order:1;
    }
        
        input[type="submit"] {
    position:relative;
    top:1070px;
    left:0px;
    margin-top:50px;
    margin-right:122px;
    background-color:#81b3d2;
    display:block;
    width:480px;
    height:55px;
    font-family: "PT Sans";
    font-size:24px;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    color:white;
    border:0px;
    margin-left:-362px
}

input[type="submit"]:hover {
    background-color:skyblue;
}
        
        .content .name span {
            font-weight:600;
        }
        #nameform {
            text-align:left;
            padding-left:10px
        }
        
        #name1 {
    margin-top: 20px;
    display:inline-block;
    background-color:#f2f2f2;
    width:249px;
    height: 40px;
    white-space:nowrap;
    
}

#lastname {
    margin-top: 20px;
    display:inline-block;
    background-color:#f2f2f2;
    width:211px;
    height: 40px;
    white-space:nowrap;
}

#middlename {
    margin-top:20px;
    display:inline-block;
    background-color:#f2f2f2;
    width:205px;
    height: 40px;
    white-space:nowrap;
        }
        
        .content .intro-text {
            font-size:20px
        }
        
        .content .emotions .text-intro {
            font-size:20px;
        }
    
    .content .telephone-form textarea {
        text-align:left;
        margin: auto;
        align-content: center;
        max-width:none;
        width:95%;
        display:block;
    }
        
        .content .contacts {
            position:relative;
            top:-340px;
            border-bottom:1px solid #f2f2f2;
        }
    
    .content .email-form {
        margin:auto;
    }
        .content .email-form b {
            position:relative;
            right:60px;
        }
        
         .content .telephone-form b {
            display:none;
            position:relative;
            right:108px;
        }
        
        .content .telephone-form .device-version {
            display:inline;
            position:relative;
            left:-63px;
        }
    
    .content .email-form textarea {
        text-align:left;
        margin: auto;
        align-content: center;
        max-width:none;
        width:95%;
        display:block;
    }
    
    
    .content .email-form img {
        bottom:42px;
        left:133px;
    position:relative;
    background-color:#e6e6e6;
    padding:15px;
    }
    
    .content .telephone-form img {
        bottom:48px;
        left:133px;
    position:relative;
    background-color:#e6e6e6;
    padding:15px;
    }
    
    input[type="submit"] {
    margin-top:10px;
    margin-right:0px;
    background-color:#81b3d2;
    display:block;
    width:278px;
    height:55px;
    font-family: "PT Sans";
    font-size:24px;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    color:white;
    border:0px;
    margin-left:1px
}
    
    .footer .text-1 {
    font-size:23px;
    font-weight:700;
    float:left;
    margin-top:77px;
    margin-bottom:50px;
    margin-left:88px;
        margin-right:60px;
}
    
    .footer .text-2 {
    position:relative;
    right:106px;
    font-size:17px;
    font-weight:500;
    margin-top:80px;
    margin-bottom:50px;
    margin-right:14px;
}
    
    .content .text-3 {
        display:none;
        width:180px;
        height:20px;
    margin-top:-30px;
    margin-right:17px;
}
        .footer .social {
            background-color:transparent;
            position:relative;
            left:66px;
        }
        
    .footer .icon-1 {
    display:inline-block;
    background-color:#81b3d2;
    padding:15px;
        margin-left:30p
}

.footer .icon-2 {
    display:inline-block;
    background-color:#81b3d2;
    padding:15px;
    padding-top:13px;
    padding-left:20px;
    padding-right:20px;
}

.footer .icon-3 {
    display:inline-block;
    background-color:#81b3d2;
    padding:15px;
}
    
    .footer .icon-4 {
    display:inline-block;
    position:relative;
    left:120px;
    bottom: -25px;
}
        
    .content .emotions textarea {
        width:238px;
    }
    
    .content {
        margin:0 auto;
    }
    
    img {
        max-width:100%;
        height:auto;
    }
        .logo img {
            display:none;
        }
    
    .logo-mobile {
        display:block;
        
        position:relative;
        top:0px;
    }
    
    .sedona-image {
        background-color:white;
        margin-bottom:-1px;
        margin-top:1px;
        padding-top:0px;
    }
    
    .menu .main {
        width:320px;
        border-bottom:1px solid black;
    font-size:19px;
        margin:auto;
}
    .menu {
        position:relative;
        display:none;
        color:white;
        padding:0;
        height:40px;
        max-width:320px;
        background-color:#81b3d2;
}

.menu .media {
    display:none;
    width:320px;
    border-bottom:1px solid black;
    font-size:19px;
    margin:auto;
    
}

.menu .academy {
    display:none;
    width:320px;
    border-bottom:1px solid black;
    font-size:19px;
    margin:auto;
}

.menu.reply {
    display:none;
    width:320px;
    border-bottom:1px solid black;
    top:-3px;
    display:block;
    font-size:19px;
    margin:auto;
    
}
        .content .sights {
            border-bottom:1px solid #f2f2f2;
        }
    
.checkbox1 {
    margin-left:3px;
        position:relative;
        display:inline-block;
}

.checkbox2 {
    position:relative;
    display:inline-block;
}

.checkbox3 {
    margin-left:-14px;
    position:relative;
    display:inline-block;
}
    
 .checkbox4 {
     margin-left:-97px;
     position:relative;
        display:inline-block;
    }

    
    html {
        width:100%;
    }
    
  
        #line1 {
            display:none;
        } 
        
        #line2 {
            display:none;
        }
        
        #line3 {
            display:none;
        }
        
        #line1-tablet {
            display:none;
        }
        
        #line2-tablet {
            display:none;
        }
        
        #line3-tablet {
            display
        }
        .menu-mobile  li {
            display:block;
        }
        
.hamburger-header {
    display:block;
}
        
.menu-mobile {
    display:block;
}

.hamburger {
    display:block;
    left:280px;
}

.cross {
    display:block;
    left: 270px;
}
        
}